**/.vs
**/bin/Debug/net8.0
**/obj
/libs-auth/Libs.Auth/.vs
/libs-auth/Libs.Auth/bin/Debug/net8.0
/libs-auth/Libs.Auth/obj
.vscode
*/bin/Debug
*/.vs
*/*/publish
*/*/obj
*/*/bin
*/*/.vs
/.vs/Expenses.Api
/.vs/ProjectEvaluation
/Expenses.Api/Expenses.Api.csproj.user
/.vs
.idea/.idea.Expenses.Api/.idea/vcs.xml
code/.idea/*
.idea/*
code/.idea/.idea.Expenses.Api/.idea/indexLayout.xml
code/.idea/.idea.Expenses.Api/.idea/vcs.xml
