################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.vs
**/bin/Debug/net8.0
**/obj
/libs-auth/Libs.Auth/.vs
/libs-auth/Libs.Auth/bin/Debug/net8.0
/libs-auth/Libs.Auth/obj
.vscode
*/bin/Debug
*/.vs
*/*/obj
*/*/bin/Debug
*/*/.vs
/.vs/Expenses.Api
/.vs/ProjectEvaluation
/Expenses.Api/Expenses.Api.csproj.user
/.vs
.idea/.idea.Expenses.Api/.idea/vcs.xml
